<html>
<head>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

</head>
<body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    {{{ body }}}
                </div>
            </div>
        </div>
    </body>
</html>